- content_for(:nav) { "projects" }

= render layout: 'dashboard', locals: { title: 'Inspiration' } do
  = form_tag project_inspirations_url(project_id: @project.id), method: :post, multipart: true do
    = file_field_tag 'file'
    = submit_tag "Upload", class: 'button'
  .inspirations
    - @inspirations.each do |inspiration|
      %article.inspiration
        = link_to project_inspiration_url(project_id: @project.id, id: inspiration.id), class: 'inspiration__link' do
          = image_tag inspiration.upload.file.url
