.page.organization-dashboard
  %ul.activity
    %header.activity__header
      %h3 Recent Activity
    - @activities.each do |activity|
      - if activity.trackable.is_a?(Garment) || activity.trackable.is_a?(Inspiration)
        %li.action
          = link_to "#", class: "action__link" do
            %aside
              = image_tag activity.owner.avatar_image, class: "avatar"
            %section
              - activity.inspect
              - if activity.trackable.is_a?(Garment)
                %p.action__text= "<strong>#{activity.owner.name}</strong> #{activity.key.split('.').last}d #{activity.trackable.name}".html_safe
              - elsif activity.trackable.is_a?(Inspiration)
                %p.action__text= "<strong>#{activity.owner.name}</strong> #{activity.key.split('.').last}d a piece of inspiration".html_safe
              %p.action__timestamp= activity.created_at.strftime('%d %B %Y, %I:%M%P')

  %ul.projects
    %header.activity__header
      %h3 Projects
    - @projects.each do |project|
      %li= link_to project.name, project_url(project)
