!!!
%html{lang: "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

    %title Ramona

    = stylesheet_link_tag "application", "data-turbolinks-track" => true

    = csrf_meta_tags

    %script{src: "https://use.typekit.net/dvg5gfi.js"}
    :coffeescript
      try
        Typekit.load async: true
      catch e
  %body
    %header.header.header--site{role: 'banner'}
      .header__primary
        .header__row
          %nav.nav.nav--header.nav--primary
            = link_to @current_organization.name, root_url, class: 'header__logo'
            %ul.nav__list
              %li.nav__item
                = link_to "Projects", projects_url, class: "nav__link #{enable_nav('projects')}"
              %li.nav__item
                = link_to "People", users_url, class: "nav__link #{enable_nav('users')}"
              -# %li.nav__item
              -#   = link_to "Teams", teams_url, class: "nav__link #{enable_nav('teams')}"
          %nav.nav.nav--header.nav--secondary
            %ul.nav__list
              %li.nav__item
                = link_to "Settings", "#", class: "nav__link #{enable_nav('settings')}"
              %li.nav__item
                = link_to "Logout", logout_url, class: "nav__link"
      - if content_for(:secondary_header)
        .header__secondary
          .row.header__row
            = yield(:secondary_header)

    %main.main{role: 'main'}
      = yield

    %footer.footer{role: 'footer'}

    = javascript_include_tag "application", "data-turbolinks-track" => true
