!!!
%html{lang: "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

    %title Ramona

    = stylesheet_link_tag "application", "data-turbolinks-track" => true

    = csrf_meta_tags

    %script{src: "https://use.typekit.net/dvg5gfi.js"}
    :coffeescript
      try
        Typekit.load async: true
      catch e
  %body
    %header.header{role: 'banner'}
      .row.header__row.header__row--primary
        %nav.nav.nav--header.nav--primary
          = link_to @current_organization.name, root_url, class: 'header__logo'
          %ul.nav__list
            %li.nav__item
              = link_to "Projects", lines_url, class: 'nav__link'
            %li.nav__item
              = link_to "People", users_url, class: 'nav__link'
            %li.nav__item
              = link_to "Teams", teams_url, class: 'nav__link'
        %nav.nav.nav--header.nav--secondary
          %ul.nav__list
            %li.nav__item
              = link_to "Settings", "#", class: 'nav__link'
            %li.nav__item
              = link_to "Logout", logout_url, class: 'nav__link'
      - if content_for(:secondary_header)
        .row.header__row.header__row--secondary
          = yield(:secondary_header)

    %main.main{role: 'main'}
      = yield

    %footer.footer{role: 'footer'}

    = javascript_include_tag "application", "data-turbolinks-track" => true
